# Probability

In [1]:
# probabitlity of getting a 3 from a roll of die
ns = 6 #n(S)= {1,2,3,4,5,6}
na = 1 # n(A) = {1}
pa = na/ns  #P(A)
print("Probability of getting a 3 is:", pa)

Probability of getting a 3 is: 0.16666666666666666

In [2]:
ns = 8 #n(S)={HHH,HHT,HTH,THH,TTH,THT,HTT,TTT}
na = 7 #n(A)={HHH,HHT,HTH,THH,TTH,THT,HTT}
pa = na/ns #P(A)
print("probability of getting atlrast one head is:",pa)

probability of getting atlrast one head is: 0.875

In [3]:
# A jar contains 5 red, 3 blue, 2 green jellybeans. IF a jellybean is chosen at random what is the probability it is not blue
ns = 10 #n(S)-{5red,3blue,2green}
na = 7#n(A)={5 red,2 green}
pa = na/ns #P(A)
print("probability of not getting a blue jellybean is:",pa)

probability of not getting a blue jellybean is: 0.7

In [4]:
# If the probability that person A will alive in 20 years is 0.7 and the probability that person 
# B will be alive in the next 20 years is 0.5 , ehat is the probability that they both will bw alive for the next 20 years is ?
P = 0.7*0.5
print("probability that they will be alive for next 20 years is:",P)

probability that they will be alive for next 20 years is: 0.35

In [5]:
def event_probability(n,s):
    return n/s

In [6]:
# A fair die is tossed twice . Find the probability of getting a 4 or a 5 in the first toss and a 1,2,3 on the second toss .
pa = event_probability(2,6) # for getting a 4 or 5
pb = event_probability(3,6) # for getting 1,2,3
P = pa*pb
print("probability of getting a 4 or a 5 in the first toss and a 1,2,3 on the second toss:",P)

probability of getting a 4 or a 5 in the first toss and a 1,2,3 on the second toss: 0.16666666666666666

In [7]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles. In each draw , a marble is drawn and not replaced .
#In three draws find the probability of getting a white , black and green in that order 
pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("the probability if getting a white , black and green in that order:")

the probability if getting a white , black and green in that order:

In [8]:
#Sample Space
cards = 52
#Calculate the probability of getting a hearts or a club
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts , cards) + event_probability(clubs , cards)
print(heart_or_club)

0.5

In [9]:
#Calculate the probability of drawing an ace,king or a queen 
aces = 4
kings = 4
queens = 4
ace_king_queen =  event_probability(aces , cards) +  event_probability(kings , cards) +  event_probability(queens , cards)
print(ace_king_queen)

0.23076923076923078

In [10]:
#12th code # Calculate the Probability of drawing a heart or an ace
hearts = 13
aces = 4
ace_of_hearts = 1
hearts_or_aces = event_probability(hearts,cards) + event_probability(aces, cards)- event_probability(ace_of_hearts, cards)
print(round(hearts_or_aces,1))

0.3

In [11]:
#calculate the probability of drawing red cards or face cards 
red_cards = 26 
face_cards = 12
red_face_cards = 6
red_or_face = event_probability(red_cards , cards) + event_probability(face_cards , cards) - event_probability(red_face_cards , cards)
print(round(red_or_face,1))

0.6

# Complimentary Events

In [12]:
# probability of not getting a 5 when a fair die is rolled
ns = 6 #n(S)={1,2,3,4,5,6}
na = 1 #n(A)={5}
pa = na/ns
print("Probability of not getting a 5 is:",1-pa)

Probability of not getting a 5 is: 0.8333333333333334

# Conditional probability

In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/Pooja/Downloads/student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [14]:
len(df)

395

In [15]:
df['grade_A'] = np.where(df['G3']*5 >= 80,1,0)

In [16]:
df['high_absences'] = np.where(df['absences'] >= 10,1,0)

In [17]:
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,high_absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,1

In [18]:
df['count']=1

In [19]:
df = df[['grade_A','high_absences','count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [20]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absences'],
    aggfunc=np.size,
    fill_value=0
)

In [21]:
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

In [22]:
def prob(p_a, p_b, p_a_or_b) :
   
    
    p_a_given_b  =  p_a_or_b / p_b
    
    return p_a_given_b
p_a        = (35+5) / (277+35+78+5)
p_b        = (78+5) / (277+35+78+5)
p_a_or_b   =  (5) / (277+35+78+5)
    
    
result  = prob(p_a, p_b, p_a_or_b)

print('P(A/B)= %.3f%%' %(result * 100))

P(A/B)= 6.024%

# Combinatorics: Permutations, Variation & Combinations

In [23]:
# permutation of green and blue with repetition
import itertools
from itertools import product
box_1 = ['g','b']
perm=[]
for p in itertools.product(box_1, repeat=2):
    perm.append(p)
    
perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

In [24]:
#permutation of green, blue and yellow with repetition.
import itertools
from itertools import product
box_2 = ['r','b','y']
perm=[]
for p in itertools.product(box_2, repeat=3):
    perm.append(p)
    
perm

[('r', 'r', 'r'),
 ('r', 'r', 'b'),
 ('r', 'r', 'y'),
 ('r', 'b', 'r'),
 ('r', 'b', 'b'),
 ('r', 'b', 'y'),
 ('r', 'y', 'r'),
 ('r', 'y', 'b'),
 ('r', 'y', 'y'),
 ('b', 'r', 'r'),
 ('b', 'r', 'b'),
 ('b', 'r', 'y'),
 ('b', 'b', 'r'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'y', 'r'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('y', 'r', 'r'),
 ('y', 'r', 'b'),
 ('y', 'r', 'y'),
 ('y', 'b', 'r'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'y', 'r'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y')]

In [25]:
# permutation of green and blue without repetition.
import itertools

box_1 = ['g','b']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [26]:
# permutation of green,blue and yellow without repetition.
import itertools

box_1 = ['g','b','y']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

In [27]:
#Variation of green, blue and yellow  with repetition.
box_2 = ['g','b','y']
perm=[]
for p in itertools.product(box_2, repeat=2):
    perm.append(p)
    
perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'y'),
 ('y', 'g'),
 ('y', 'b'),
 ('y', 'y')]

In [28]:
#Variation of green, blue and yellow  without repetition.
box_2=['g','b','y']
perm = itertools.permutations(box_2,2)

for i in list(perm):
    print(i)

('g', 'b')
('g', 'y')
('b', 'g')
('b', 'y')
('y', 'g')
('y', 'b')

# Combinations

In [29]:
#Combination of green and blue with repetition
from itertools import combinations_with_replacement

box_1 = ['g','b']
comb= combinations_with_replacement(box_1,2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [30]:
#Combination of green ,blue ,yellow and white with repetition of 2 element.
from itertools import combinations_with_replacement

box_1 = ['g','b','y','w']
comb = combinations_with_replacement(box_1,2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'w')
('b', 'b')
('b', 'y')
('b', 'w')
('y', 'y')
('y', 'w')
('w', 'w')

In [31]:
#Combination of green and blue without repetition
from itertools import combinations
box_1=['b','g']
comb = combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')

In [32]:
#Combination of green ,yellow and blue without repetition
from itertools import combinations
box_2 = ['b','g','y']
comb = combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')